---
import Show from '../components/show.astro'
import MainLayout from '../layouts/main-layout.astro'
import { getArchives } from '../lib/archive/getArchives'
const archives = await getArchives()
archives.sort((a, b) => b.date > a.date ? 1 : -1)
---
<MainLayout title="Archives | Jetty Radio">
  <h2 class="page-title">Archives</h2>
  {
    archives.map((show: any) => (
      <Show
        djs={show.artists}
        title={show.title}
        date={show.date}
        setlist={show.setlist}
        image={show.art}
        downloadLink={show.download}
      />
    ))
  }
</MainLayout>
