---
import Show from '../components/show.astro'
import MainLayout from '../layouts/main-layout.astro'
import { shows } from '../allShows'
---

<MainLayout title="Archive | Jetty Radio">
    <h2>Archive</h2>
    {
        shows.map((show) => (
            <Show
                dj={show.dj}
                title={show.title}
                date={show.date}
                setlist={show.setlist}
                image={show.image}
                downloadLink={show.downloadLink}
            />
        ))
    }
</MainLayout>
