---
import Show from '../../components/show.astro'
import MainLayout from '../../layouts/main-layout.astro'
import { getDjSlug } from '../../utils'
import { getArchives } from '../../lib/archive/getArchives'

export async function getStaticPaths() {
    const allShows = await getArchives()
    const artistSlugs = new Set(
        allShows.flatMap(({ artists }) => artists.map(getDjSlug)),
    )
    return [...artistSlugs].map((slug) => {
        const shows = allShows.filter((show) =>
            show.artists.some((artist) => getDjSlug(artist) === slug),
        )

        shows.sort((a, b) => (b.date > a.date ? 1 : -1))
        return {
            params: {
                slug,
            },
            props: {
                shows,
                dj: shows[0]
                    ? shows[0].artists.find((v) => getDjSlug(v) === slug)
                    : slug,
            },
        }
    })
}

const { shows, dj } = Astro.props
---

<MainLayout title="Archive | Jetty Radio">
    <h2 class="page-title">{dj}</h2>
    {
        shows.map((show) => (
            <Show
                djs={show.artists}
                title={show.title}
                date={show.date}
                setlist={show.setlist}
                image={show.art}
                downloadLink={show.download}
            />
        ))
    }
</MainLayout>
